<!-- <div class="page-header">
	<h1>Dodaj nowego użytkownika</h1>
</div> -->
<div class="alert alert-success" role="alert" *ngIf="userAdded">
	<strong>Gotowe!</strong> Pomyślnie dodano użytkownika.
</div>
<div class="alert alert-danger" role="alert" *ngIf="statusCode === 409">
	<strong>Błąd!</strong> Podany login jest już zajęty.
</div>
<div class="alert alert-danger" role="alert" *ngIf="statusCode > 300 && statusCode !== 409">
	<strong>Ups!</strong> Coś poszło nie tak, kod odpowiedzi: {{statusCode}}.
</div>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" (keyup.control.shift.a)="onControlShiftA()">

	<div class="form-group row">
		<label for="login" class="col-sm-2 col-form-label">Login</label>
		<div class="col-sm-10" [ngClass]="{'has-danger': !userForm.controls['login'].valid && userForm.controls['login'].touched }">
			<input type="text" class="form-control form-control-danger" id="login" name="login" formControlName="login" #refName />
			<div class="form-control-feedback" *ngIf="userForm.controls['login'].hasError('required') && userForm.controls['login'].touched">Login jest wymagany!</div>
			<div class="form-control-feedback" *ngIf="userForm.controls['login'].hasError('minlength') && userForm.controls['login'].touched">Minimalna długość loginu to 4 znaki</div>
		</div>
	</div>

	<div class="form-group row" [ngClass]="{'has-danger': !userForm.controls['firstName'].valid && userForm.controls['firstName'].touched }">
		<label for="first-name" class="col-sm-2 col-form-label">Imię</label>
		<div class="col-sm-10">
			<input type="text" class="form-control form-control-danger" id="first-name" formControlName="firstName" />
			<div class="form-control-feedback" *ngIf="userForm.controls['firstName'].hasError('required') && userForm.controls['firstName'].touched">Imię jest wymagane!</div>
		</div>
	</div>

	<div class="form-group row" [ngClass]="{'has-danger': !userForm.controls['lastName'].valid && userForm.controls['lastName'].touched }">
		<label for="last-name" class="col-sm-2 col-form-label">Nazwisko</label>
		<div class="col-sm-10">
			<input type="text" class="form-control form-control-danger" id="last-name" formControlName="lastName" />
			<div class="form-control-feedback" *ngIf="userForm.controls['lastName'].hasError('required') && userForm.controls['lastName'].touched">Nazwisko jest wymagane!</div>
		</div>
	</div>

	<div class="form-group row" [ngClass]="{'has-danger': !userForm.controls['email'].valid && userForm.controls['email'].touched }">
		<label for="email" class="col-sm-2 col-form-label">Email</label>
		<div class="col-sm-10">
			<input type="text" class="form-control form-control-danger" id="email" formControlName="email" />
			<div class="form-control-feedback" *ngIf="userForm.controls['email'].hasError('required') && userForm.controls['email'].touched">Email jest wymagany!</div>
		</div>
	</div>

	<div class="form-group row" [ngClass]="{'has-danger': !userForm.controls['dateOfBirth'].valid && userForm.controls['dateOfBirth'].touched }">
		<label for="date-of-birth" class="col-sm-2 col-form-label">Data urodzenia</label>
		<div class="col-sm-10">
			<input type="date" class="form-control form-control-danger" id="date-of-birth" formControlName="dateOfBirth" />
			<div class="form-control-feedback" *ngIf="userForm.controls['dateOfBirth'].hasError('required') && userForm.controls['dateOfBirth'].touched">Data urodzenia jest wymagana!</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="user-type" class="col-sm-2 col-form-label">Typ konta</label>
		<div class="col-sm-10">
			<select class="form-control" id="user-type" formControlName="userType">
				<option value="1">Student</option>
				<option value="0">Wykładowca</option>
			</select>
		</div>
	</div>


	<div class="row">
		<div class="col-9"></div>
		<div class="col-3"><button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!userForm.valid">Dodaj</button></div>
	</div>

</form>
