<h1>Informacje o użytkowniku {{user.login}}</h1>

<table class="table table-striped table-th-gray">
	<tr>
		<th>Imię</th>
		<td>{{user.firstName}}</td>
	</tr>
	<tr>
		<th>Nazwisko</th>
		<td>{{user.lastName}}</td>
	</tr>
	<tr>
		<th>Data urodzenia</th>
		<td>{{user.dateOfBirth}}</td>
	</tr>
	<tr>
		<th>Aktywności</th>
		<td>
			<p *ngFor="let activity of activities">
				{{activity.name}}
			</p>
		</td>
	</tr>

</table>
