<h1>Użytkownicy</h1>

<table class="table table-striped table-hover table-th-gray">
	<thead>
		<tr>
			<th>Login</th>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th>Date urodzenia</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users" (click)="onSelect(user.login)">
			<td>{{user.login}}</td>
			<td>{{user.firstName}}</td>
			<td>{{user.lastName}}</td>
			<td>{{user.dateOfBirth}}</td>
		</tr>
	</tbody>
</table>
