<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<a class="navbar-brand" routerLink="/">Kurs PGS</a>

	<div class="collapse navbar-collapse" id="navbar">

		<ul class="navbar-nav mr-auto">

			<li class="nav-item">
				<a class="nav-link disabled" routerLink="/info" routerLinkActive="active">Informacje<span class="sr-only">(current)</span></a>
			</li>

			<li class="nav-item dropdown" routerLinkActive="active">
				<a class="nav-link dropdown-toggle" id="dropdownUsers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Użytkownicy</a>
				<div class="dropdown-menu" aria-labelledby="dropdownUsers">
					<a class="dropdown-item" routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Wyświetl wszystkich</a>
					<a class="dropdown-item" routerLink="/users/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dodaj nowego użytkownika</a>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link disabled" routerLink="/activities" routerLinkActive="active">Aktywności</a>
			</li>

			<!-- <li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li> -->

		</ul>

		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Szukaj">
			<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Szukaj</button>
		</form>

	</div>

</nav>

<!-- Puste pole: -->
<div class="col-xs-12" style="height:100px;"></div>

<div class="container">

	<router-outlet></router-outlet>

</div>

<!-- <footer class="footer">
	<div class="container">
		<span class="text-muted">&copy; Łukasz Patro, 2017</span>
	</div>
</footer> -->
